body {
  width: 100%;
  height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
/* section {
  width: 100%;
  height: 40vh;
  background-color: yellowgreen;
} */
.ptags {
  background-color: firebrick;
  font-size: 30px;
  border: 0.01px solid black;
}
.ptages {
  background-color: khaki;
  color: rebeccapurple;
  border: 0.1px solid gold;
  border-radius: 10px;
}
.noptags {
  font-weight: bold;
  color: rosybrown;
}
/* Second Example */
.grandparent {
  width: 500px;
  height: 500px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent {
  width: 350px;
  height: 350px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child {
  width: 150px;
  height: 150px;
  background-color: green;
}
.dark {
  background-color: black;
  color: white;
}
